<template>
  <div class="panel">
    <h1>Bai13Vue: Props</h1>
    <p>Prop = 'ABC'</p>
    <BlogPost msg="ABC" />
  </div>
</template>

<script>
// @ is an alias to /src
import BlogPost from "@/components/BlogPost.vue";

export default {
  name: "Bai13Vue",
  components: {
    BlogPost
  }
};
</script>
