<template>
  <div class="panel">
    <h1>Bai18Vue: Filters</h1>
    <input type="text" placeholder="Please enter a title!" v-model="title">
    <br><br>
    UpperCase: {{ title | capitalize }}
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Bai18Vue",
  components: {},
  data() {
    return {
      title: ''
    };
  },
  methods: {},
  filters: {
    capitalize: text => {
      if (!text) return "";
      text = text.toString();
      return text.toUpperCase();
    }
  }
};
</script>
