<template>
  <div class="panel">
    <h1>Bai19Vue: Plugins</h1>
    <button @click="$_notice('Success!')">Success</button>
    <button @click="$_notice('Warning!')">Warning</button>
    <button @click="$_notice('Error!')">Error</button>
    <button @click="$_notice('Information!')">Information</button>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Bai19Vue",
  components: {},
  data() {
    return {
    };
  },
  methods: {},
};
</script>
