<template>
  <div class="panel">
    <h1>Bai14Vue: Custom Events</h1>
    <p>Name: {{ name }}</p>
    <NameInput @nameSent="nameReceived" />
  </div>
</template>

<script>
// @ is an alias to /src
import NameInput from "@/components/NameInput.vue";

export default {
  name: "Bai14Vue",
  components: {
    NameInput
  },
  data() {
    return {
      name: ''
    }
  },
  methods: {
    nameReceived(name) {
      this.name = name;
      console.log(name);
    }
  }
};
</script>
