<template>
  <div class="panel">
    <h1>Bai17Vue: Mixins</h1>
    {{ sayHello() }}
    {{ sayHello() }}
  </div>
</template>

<script>
// @ is an alias to /src
const helloMixin = {
  methods: {
    sayHello: function() {
      console.log('hello from mixin!');
    }
  },
  created() {
    this.sayHello();
  }
}

export default {
  name: "Bai17Vue",
  components: {
  },
  mixins: [helloMixin],
  data() {
    return {};
  },
  methods: {}
};
</script>
