<template>
  <div class="panel">
    <h1>Bai15Vue: Slots</h1>
    <Card>
      <h2 slot="header">Card header</h2>
      <p>Lorem, ipsum dolor sit amet consectetur</p>
      <p slot="footer"><small>Card footer</small></p>
      <p>Culpa magni mollitia nobis pariatur.</p>
    </Card>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from "@/components/Card.vue";

export default {
  name: "Bai15Vue",
  components: {
    Card
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang="scss">
  .card {
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 20px;
    margin: auto;
    .card-header {
      margin-bottom: 20px;
    }
    .card-footer {
      margin-top: 10px;
      color: #868686;
    }
  }
</style>
