<template>
  <div class="panel">
    <h1>Computed</h1>
    <!-- {{ xxx }} -->
    <input type="text" v-model="title">&nbsp;
    <button @click="yyy">Click</button>
    <br>
    {{ title }}
  </div>
</template>

<script>

export default {
  name: "computed",
  components: {
  },
  data() {
    return {
      title: ''
    };
  },
  methods: {
    yyy() {
      console.log('yyy methods');
      this.xxx;
    }
  },
  computed: {
    xxx() {
      console.log('xxx computed: ' + this.title.toUpperCase());
    }
  },
};
</script>
