<template>
  <div class="panel">
    <h1>Directives</h1>
    <!-- <p v-highlight:background="'red'" class="abc">
      {{ msg }}
    </p> -->

    <!-- <div v-loading="true" class="el-loading-parent--relative">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ullam
        fuga praesentium molestias ex, repudiandae atque excepturi nihil enim
        quasi explicabo iusto quia aspernatur laborum molestiae error rem veniam
        porro.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
        ullam fuga praesentium molestias ex, repudiandae atque excepturi nihil
        enim quasi explicabo iusto quia aspernatur laborum molestiae error rem
        veniam porro.
      </p>
    </div>

    <button @click="update">update</button>
    <button @click="uninstall">Uninstall</button>
    <button @click="install">Install</button>

    <hr /> -->

    <button @click="loadingOptions.showLoading = !loadingOptions.showLoading">
      change
    </button>
    <div v-loading="loadingOptions">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam suscipit
        excepturi earum? Aperiam, neque incidunt. Odit, eligendi cum, labore
        itaque tempora ad ratione, aliquid rerum sapiente culpa doloribus
        aspernatur totam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam suscipit
        excepturi earum? Aperiam, neque incidunt. Odit, eligendi cum, labore
        itaque tempora ad ratione, aliquid rerum sapiente culpa doloribus
        aspernatur totam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam suscipit
        excepturi earum? Aperiam, neque incidunt. Odit, eligendi cum, labore
        itaque tempora ad ratione, aliquid rerum sapiente culpa doloribus
        aspernatur totam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam suscipit
        excepturi earum? Aperiam, neque incidunt. Odit, eligendi cum, labore
        itaque tempora ad ratione, aliquid rerum sapiente culpa doloribus
        aspernatur totam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam suscipit
        excepturi earum? Aperiam, neque incidunt. Odit, eligendi cum, labore
        itaque tempora ad ratione, aliquid rerum sapiente culpa doloribus
        aspernatur totam.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  components: {},

  data() {
    return {
      // msg: "Text default",
      loadingOptions: {
        showLoading: false
      }
    };
  },

  created() {
    // setTimeout(() => {
    //   this.options.show = false;
    // }, 1000);
  },

  methods: {
    // update: function() {
    //   this.msg = "Text update";
    // },
    // uninstall: function() {
    //   this.msg = "";
    // },
    // install: function() {
    //   this.msg = "Text install";
    // }
  }
};
</script>
