<template>
  <div class="panel">
    <h1>Watch</h1>

    <input type="text" @input="inputKeyword" v-model="keyword" />
    <p>{{ msg }}</p>
    <ol style="max-width: 500px; margin: auto;" v-if="results.length !== 0">
      <li v-for="(result, index) in results" :key="index">{{ result.name }}</li>
    </ol>

  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'watch',
  components: {},
  data() {
    return {
      // listMovies: ['Iron Man (2008)', 'The Incredible Hulk (2008)', 'Iron Man 2 (2010)', 'Thor (2011)', 'Captain America: The First Avenger (2011)', 'The Avengers (2012)', 'Iron Man 3 (2013)', 'Thor: The Dark World (2013)', 'Captain America: The Winter Soldier (2014)', 'Guardians of the Galaxy (2014)', 'Avengers: Age of Ultron (2015)', 'Ant-Man (2015)', 'Captain America: Civil War (2016)', 'Doctor Strange (2016)', 'Guardians of the Galaxy Vol. 2 (2017)', 'Spider-Man: Homecoming (2017)', 'Thor: Ragnarok (2017)', 'Black Panther (2018)', 'Avengers: Infinity War (2018)', 'Ant-Man and the Wasp (2018)', 'Captain Marvel (2019)', 'Avengers: Endgame (2019)', 'Spider-Man: Far From Home (2019)'],
      listMovies: [],
      results: [],
      keyword: '',
      msg: ''
    };
  },
  methods: {
    inputKeyword() {
      this.msg = 'Đang tìm kiếm...';
      this.results = [];
    }
  },
  watch: {
    keyword: _.debounce( function(query) {
      console.log(query);
      var vm = this;
      vm.results = vm.listMovies.filter(item => item.name.toLowerCase().indexOf(vm.keyword.toLowerCase()) !== -1);
      vm.msg = '';
      if (vm.results.length === 0) {
        vm.msg = 'Không có kết quả nào!';
      }
    }, 500),
    // keyword: function(query) {
    //   console.log(query);
    //   var vm = this;
    //   vm.msg = 'Đang tìm kiếm...';
    //   vm.results = [];
    //   setTimeout(function() {
    //     console.log('CALL: setTimeout');
    //     vm.results = vm.listMovies.filter(item => {
    //       return item.toLowerCase().indexOf(vm.keyword.toLowerCase()) !== -1;
    //     });
    //     vm.msg = '';
    //     if (vm.results.length === 0) {
    //       vm.msg = 'Không có kết quả nào!';
    //     }
    //   }, 500);
    // }
  },
  async created() {
    this.results = this.listMovies = await axios.get('http://5c05d49d6b84ee00137d25e4.mockapi.io/tasks_todo_list_01')
      .then(res => res.data)
      .catch(err => console.log(err));
    console.log(this.results);
  }
};
</script>
