<template>
  <div>
    <AppHeader />

    <el-container>
      <el-aside class="main-aside" style="width: 320px">
        <AppMenu />
      </el-aside>

      <el-main>
        <nuxt />
      </el-main>
    </el-container>

  </div>
</template>

<script>
import AppMenu from "../components/AppMenu";
import AppHeader from "../components/AppHeader";

export default {
  components: {
    AppHeader,
    AppMenu
  }
};
</script>

<style lang="scss">
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.main-aside {
  padding: 20px;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.w-100 {
  width: 100% !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-center {
  text-align: center !important;
}
</style>
