<template>
  <div id="app">
    <div class="container">
      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/bai13vue">Bai13vue</router-link> |
        <router-link to="/bai14vue">Bai14vue</router-link> |
        <router-link to="/bai15vue">Bai15Vue</router-link> |
        <router-link to="/bai17vue">Bai17Vue</router-link> |
        <router-link to="/bai18vue">Bai18Vue</router-link> |
        <router-link to="/bai19vue">Bai19Vue</router-link> |
        <router-link to="/computed">Computed</router-link> |
        <router-link to="/watch">Watch</router-link> |
        <router-link to="/directives">Directives</router-link> |
      </div>
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.container {
  max-width: 1140px;
  margin: auto;
}
.panel {
  background: #f8f8f8;
  border: 1px solid #000;
  padding: 20px;
}
button {
  cursor: pointer;
  margin: 0 3px;
}
</style>
