<template>
  <div class="blog-edit">
    <CreateEdit :blog="blog" />
  </div>
</template>

<script>
import CreateEdit from "../../components/CreateEdit";
import callApi from '../../utils/apiCaller';

export default {
  components: {
    CreateEdit
  },

  data() {
    return {
      id: this.$route.params.id,
      blog: {}
    }
  },

  async mounted() {
    console.log(this.id);
    this.blog = await callApi(`blogs/${this.id}`, 'GET', null)
      .then(res => res.data)
      .catch(err => console.log(err));
    // console.log(this.blogs);
  },

  head() {
    return {
      title: "Edit",
      meta: [
        { name: "description", content: "This is my description." },
        { name: "keywords", content: "blogs, blogs, blogs" }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
  .blog-detail {
    .date-public {
      font-size: 12px;
      color: #666;
    }

    h3 {
      font-weight: normal;
      font-size: 28px;
    }

    .txt-des {
      font-weight: bold;
      font-size: 18px;
    }
  }
</style>
