<template>
  <div>
    <h3 class="mb-1">List Blogs</h3>
    <BlogList :blogs="blogs" @eventOnDelete="onDelete" />
  </div>
</template>

<script>
import BlogList from "../../components/BlogList";
import callApi from '../../utils/apiCaller';

export default {
  components: {
    BlogList
  },

  data() {
    return {
      blogs: []
    }
  },

  methods: {
    onDelete(id) {
      if (confirm('Bạn có chắc chắn muốn xóa bài viết này không?')) {
        let index = null;
        index = this.findIndexById(this.blogs, id);
        callApi(`blogs/${id}`, 'DELETE', null)
          .then(res => this.blogs.splice(index, 1))
          .catch(err => console.log(err));
      }
    },

    findIndexById(array, id) {
      let result = null;
      for (let i = 0; i < array.length; i++) {
        if (array[i].id === id) {
          result = i;
          break;
        }
      }
      return result;
    }
  },

  async mounted() {
    this.blogs = await callApi('blogs', 'GET', null)
      .then(res => res.data)
      .catch(err => console.log(err));
    console.log(this.blogs);
  },

  head() {
    return {
      title: "List",
      meta: [
        { name: "description", content: "This is my description." },
        { name: "keywords", content: "blogs, blogs, blogs" }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
</style>
