<template>
  <div class="blog-create">
    <CreateEdit />
  </div>
</template>

<script>
import CreateEdit from "../../components/CreateEdit";

export default {
  components: {
    CreateEdit
  },

  data() {
    return {
    }
  },

  head() {
    return {
      title: "New",
      meta: [
        { name: "description", content: "This is my description." },
        { name: "keywords", content: "blogs, blogs, blogs" }
      ]
    };
  }
};
</script>

<style>
</style>
