<template>
  <div>
    <h3 class="mb-1">Search Blogs</h3>
    <Search @eventOnSearch="onSearch" @eventOnClear="onClear" />
    <BlogList :blogs="resultBlogs" @eventOnDelete="onDelete" />
  </div>
</template>

<script>
import Search from "../../components/Search";
import BlogList from "../../components/BlogList";
import callApi from '../../utils/apiCaller';

export default {
  components: {
    Search,
    BlogList
  },

  data() {
    return {
      resultBlogs: [],
      blogs: [],
      titleKeyword: ''
    }
  },

  methods: {
    onSearch(str) {
      this.titleKeyword = str;
      this.resultBlogs = this.blogs.filter(item => item.title.toLowerCase().indexOf(this.titleKeyword.toLowerCase()) !== -1);
    },

    onClear() {
      this.resultBlogs = this.blogs;
    },

    onDelete(id) {
      if (confirm('Bạn có chắc chắn muốn xóa bài viết này không?')) {
        let index = null;
        index = this.findIndexById(this.blogs, id);
        callApi(`blogs/${id}`, 'DELETE', null)
          .then(res => {
            this.blogs.splice(index, 1);
            this.onSearch(this.titleKeyword);
          })
          .catch(err => console.log(err));
      }
    },

    findIndexById(array, id) {
      let result = null;
      for (let i = 0; i < array.length; i++) {
        if (array[i].id === id) {
          result = i;
          break;
        }
      }
      return result;
    }
  },

  async mounted() {
    this.resultBlogs = this.blogs = await callApi('blogs', 'GET', null)
      .then(res => res.data)
      .catch(err => console.log(err));
    console.log(this.blogs);
  },

  head() {
    return {
      title: "Search",
      meta: [
        { name: "description", content: "This is my description." },
        { name: "keywords", content: "blogs, blogs, blogs" }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
</style>
