<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 4: Template Syntax</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h2>v-html</h2>
        In đậm là số
        <span v-html="rawHtml"></span>
        <hr>

        <h2>Cú pháp template</h2>
        <button
            @click="isButtonDisabled = !isButtonDisabled">{{ !isButtonDisabled ? 'Kích hoạt' : 'Vô hiệu hóa' }}</button>
        <button :disabled="!isButtonDisabled">Hòn Vọng Phu</button>

    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                rawHtml: '<strong>5</strong>',
                isButtonDisabled: true
            }
        })
    </script>
</body>

</html>