<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 1: Introduction</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h2>Render theo hướng khai báo</h2>
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span :title="message">Ví dụ 2: Hover vào đây</span>
    </div>
    <hr>

    <h2>Điều kiện</h2>
    <div id="app-3">
        <span v-if="seen">Ví dụ 3</span>
    </div>
    <hr>

    <h2>Vòng lặp</h2>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.title }}
            </li>
        </ol>
    </div>
    <hr>

    <h2>Xử lí thông tin đầu vào của người dùng</h2>
    <div id="app-5">
        <p>{{ message }}</p>
        <button @click="reverseMessage">Reverse Message</button>
    </div>
    <hr>

    <h2>v-model</h2>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Ví dụ 1'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { title: 'Học JavaScript' },
                    { title: 'Học Vue' },
                    { title: 'Xây dựng cái gì đó hay ho' }
                ]
            }
        })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'qua lại khách chờ sông lặng sóng'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split(' ').reverse().join(' ')
                }
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hãy sửa thông điệp này'
            }
        })
    </script>
</body>

</html>