<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 2: The Vue Instance</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>Tên: {{ name }}</p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: 'Tinh'
            },
            created: function () {
                console.log('Name:  ' + this.name)
            }
        })
    </script>
</body>

</html>