<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 9: Event Handling</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="app">
        Thông điệp: <input type="text" v-model="message">
        {{ message }}

        <hr>
        CheckBox: <input type="checkbox" v-model="checked"> {{ checked }}

        <hr>
        CheckBox 1: <input type="checkbox" value="CheckBox 1" v-model="names">
        CheckBox 2: <input type="checkbox" value="CheckBox 2" v-model="names">
        CheckBox 3: <input type="checkbox" value="CheckBox 3" v-model="names">
        <br>
        <ul>
            <li v-for="(item, index) in names" :key="index">{{ item }}</li>
        </ul>

        <hr>
        Radio 1: <input type="radio" value="Radio 1" v-model="trademark">
        Radio 2: <input type="radio" value="Radio 2" v-model="trademark">
        <br>
        Đã chọn: {{ trademark }}

        <hr>
        <select v-model="option">
            <option disabled value="">Vui lòng chọn</option>
            <option>Lựa chọn 1</option>
            <option>Lựa chọn 2</option>
            <option>Lựa chọn 3</option>
        </select>
        <br>
        <span>Đã chọn: {{ option }}</span>

        <hr>
        <select v-model="foodSelected">
            <option v-for="option in food" :value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Giá tiền: {{ foodSelected }}</span>

    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: '',
                checked: false,
                names: [],
                trademark: '',
                option: '',
                foodSelected: '30k',
                food: [
                    { text: 'Đọt bí xào tỏi', value: '50k' },
                    { text: 'Canh bông điên điển', value: '30k' },
                    { text: 'Lẩu nấm', value: '45k' }
                ]
            },
            methods: {
            }
        });
        console.log(vm);
    </script>
</body>

</html>