<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 8: List Rendering</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        table {
            border-collapse: collapse;
        }
        table tr th,
        table tr td {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <div id="app">
        <table v-if="users.length">
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên</th>
                <th>Tuổi</th>
            </tr>
            <tr v-for="(user, index) in users" :key="index">
                <td>{{ index+1 }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
            </tr>
        </table>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                users: [
                    {
                        id: 'SV01',
                        name: 'Nguyen Van A',
                        age: 19
                    },
                    {
                        id: 'SV02',
                        name: 'Nguyen Tran B',
                        age: 27
                    },
                    {
                        id: 'SV03',
                        name: 'Nguyen Chi C',
                        age: 36
                    }
                ]
            },
            methods: {
            }
        })
    </script>
</body>

</html>