<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 7: Conditional Rendering</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="app">
        <button @click="isShow = !isShow">Đúng/Sai</button>
        <h1 v-if="isShow">Mọi việc ổn cả</h1>
        <h1 v-else>Có gì đó sai sai</h1>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                isShow: true
            },
            methods: {
            }
        })
    </script>
</body>

</html>