<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 5: Computed Properties and Watchers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>Thông điệp ban đầu: "{{ message }}"</p>
        <p>Thông điệp bị đảo ngược bằng tính toán (computed): "{{ reversedMessage }}"</p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'người đông bến đợi thuyền xuôi ngược'
            },
            computed: {
                reversedMessage() {
                    console.log(this.message.split(' '));
                    return this.message.split(' ').reverse().join(' ')
                }
            }
        })
    </script>
</body>

</html>