<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bài 9: Event Handling</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="app">
        <h1>{{ counter }}</h1>
        <button @click="counterFn(-1)" :disabled="counter <= 0">Decrease -</button>
        <button @click="counterFn(1)">Increase +</button>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                counter: 3
            },
            methods: {
                counterFn(i) {
                    this.counter += i;
                }
            }
        })
    </script>
</body>

</html>