<template>
  <div class="blog-detail">
    <p class="date-public mb-1"><small>{{ blog.data_pubblic }}</small></p>
    <h3 class="mb-1">{{ blog.title }}</h3>
    <p class="txt-des mb-2">{{ blog.des }}</p>
    <p class="thumb mb-1"><img class="w-100" :src="blog.thumbs"></p>
    <p class="detail mb-1">{{ blog.detail }}</p>

    <p class="text-center">
      <nuxt-link class="el-button el-button--primary el-button--medium text-decoration-none" to="/blogs">Back To List</nuxt-link>
    </p>
  </div>
</template>

<script>
import callApi from '../../../utils/apiCaller';

export default {
  data() {
    return {
      id: this.$route.params.id,
      blog: {}
    }
  },

  async mounted() {
    this.blog = await callApi(`blogs/${this.id}`, 'GET', null)
      .then(res => res.data)
      .catch(err => console.log(err));
    console.log(this.blogs);
  },

  head() {
    return {
      title: "Detail",
      meta: [
        { name: "description", content: "This is my description." },
        { name: "keywords", content: "blogs, blogs, blogs" }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
  .blog-detail {
    .date-public {
      color: #666;
    }
    h3 {
      font-weight: normal;
      font-size: 28px;
    }
    .txt-des {
      font-weight: bold;
      font-size: 18px;
    }
    .detail {
    }
  }
</style>
