<template>
  <header class="main-header">
    <div class="hd-logo" style="width: 320px">
      <a href="http://digidinos.com/" target="_blank"><img src="~assets/images/logo.png" alt="Digidinos"></a>
    </div>
    <div class="hd-title">
      <h2>Blogs Management</h2>
    </div>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss">
.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;

  > * {
    padding: 0 20px;
  }

  .hd-logo {
    flex: 0 0 auto;

    img {
      width: 100px;
    }
  }

  .hd-title {
    flex: 1 0 auto;

    h2 {
      font-size: 1.8em;
    }
  }
}
</style>
