<template>
  <nav class="mainnav">
    <ul>
      <li>
        <nuxt-link to="/">Home</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/blogs">List</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/blogs/new">New</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/blogs/search">Search</nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {};
</script>

<style lang="scss">
.mainnav {
  ul {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin: 0;

    li {
      border: 1px solid #ddd;
      border-bottom: 0;

      a {
        display: block;
        font-size: 16px;
        color: #000;
        background: #fff;
        text-decoration: none;
        text-align: center;
        padding: 12px 15px;

        &.nuxt-link-exact-active {
          color: #fff;
          background: #a5a5a5;
        }
      }
    }
  }
}
</style>
