<template>
  <div class="blog-list">
    <el-table
      :data="blogs"
      border
      style="width: 100%">
      <el-table-column
        prop="id"
        label="ID"
        sortable
        width="70">
      </el-table-column>
      <el-table-column
        prop="title"
        sortable
        label="Tin">
        <template slot-scope="scope">
          <nuxt-link class="txt-title" :to="`/blogs/detail/${scope.row.id}`">{{ scope.row.title }}</nuxt-link>
        </template>
      </el-table-column>
      <el-table-column
        prop="category"
        label="Loại"
        sortable
        width="130">
        <template slot-scope="scope">
          {{ getConstantValue(scope.row.category, CATEGORIES) }}
        </template>
      </el-table-column>
      <el-table-column
        prop="public"
        label="Trạng thái Public"
        sortable
        width="170">
        <template slot-scope="scope">
          <span>{{ scope.row.public ? 'Yes' : 'No' }}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="position"
        label="Vị trí"
        sortable
        width="150">
        <template slot-scope="scope">
          {{ getPositionsValue(scope.row.position, POSITIONS) }}
        </template>
      </el-table-column>
      <el-table-column
        prop="data_pubblic"
        label="Ngày Public"
        sortable
        width="130">
      </el-table-column>
      <el-table-column
        label="Edit"
        width="90">
        <template slot-scope="scope">
          <nuxt-link class="el-button el-button--primary el-button--mini text-decoration-none" :to="`/blogs/${scope.row.id}`">Edit</nuxt-link>
        </template>
      </el-table-column>
      <el-table-column
        label="Delete"
        width="90">
        <template slot-scope="scope">
          <el-button type="danger" size="mini" @click="$emit('eventOnDelete', scope.row.id)">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import BlogConstants from '../constants/blog.constants';

export default {
  props: {
    blogs: Array
  },

  data() {
    return {
      CATEGORIES: BlogConstants.CATEGORIES,
      POSITIONS: BlogConstants.POSITIONS
    }
  },

  methods: {
    getConstantValue(key, constants) {
      key = +key;
      const constant = constants.find(item => item.key === key);
      return constant ? constant.value : '';
    },

    getPositionsValue(keyArr, POSITIONS) {
      let result = [];
      for (let i = 0; i < keyArr.length; i++) {
        keyArr[i] = +keyArr[i];
        for (let j = 0; j < POSITIONS.length; j++) {
          if (keyArr[i] === POSITIONS[j].key) {
            result.push(POSITIONS[j].value);
          }
        }
      }
      return result.join(', ');
    }
  }
};
</script>

<style lang="scss" scoped>
.blog-list {
  .txt-title {
    color: #1969ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
