<template>
  <div>
    <h3 class="mb-1">{{ createEditForm.id ? 'Edit' : 'Create' }}</h3>
    <div class="box-search">
      <el-form :model="createEditForm" :rules="createEditRules" ref="createEditForm" label-position="top" @submit.native.prevent="onSubmit()">
        <el-form-item label="Tiêu đề" prop="title">
          <el-col :xs="24" :md="20" :lg="12">
            <el-input v-model="createEditForm.title"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="Mô tả ngắn" prop="des">
          <el-col :xs="24" :md="20" :lg="12">
            <el-input v-model="createEditForm.des"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="Chi tiết" prop="detail">
          <el-col :xs="24" :md="20" :lg="12">
            <el-input type="textarea" :rows="5" v-model="createEditForm.detail"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="Hình ảnh" prop="thumbs">
          <el-col :xs="24" :md="20" :lg="12">
            <el-input v-model="createEditForm.thumbs"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="Loại" prop="category">
          <el-col :xs="24" :md="20" :lg="12">
            <el-select v-model="createEditForm.category" placeholder="Chọn loại">
              <el-option
                v-for="item in CATEGORIES"
                :key="item.key"
                :label="item.value"
                :value="item.key">
              </el-option>
            </el-select>
          </el-col>
        </el-form-item>
        <el-form-item label="Vị trí" prop="position">
          <el-col :xs="24" :md="20" :lg="12">
            <el-checkbox-group v-model="createEditForm.position">
              <el-checkbox
                v-for="item in POSITIONS"
                :key="item.key"
                :label="item.key">
                {{ item.value }}
              </el-checkbox>
            </el-checkbox-group>
          </el-col>
        </el-form-item>
        <el-form-item label="Public" prop="public">
          <el-col :xs="24" :md="20" :lg="12">
            <el-radio-group v-model="createEditForm.public">
              <el-radio :label="true">Yes</el-radio>
              <el-radio :label="false">No</el-radio>
            </el-radio-group>
          </el-col>
        </el-form-item>
        <el-form-item label="Ngày Public" prop="data_pubblic">
          <el-col :xs="24" :md="20" :lg="12">
            <el-date-picker
              v-model="createEditForm.data_pubblic"
              type="date"
              format="yyyy-MM-dd"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-button type="success" size="medium" :loading="isSubmited" @click="onSubmit('createEditForm')">Submit</el-button>
          <el-button type="primary" size="medium" @click="onReset('createEditForm')">Reset</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import callApi from '../utils/apiCaller';
import BlogConstants from '../constants/blog.constants';

export default {
  props: {
    blog: Object
  },

  data() {
    return {
      CATEGORIES: BlogConstants.CATEGORIES,
      POSITIONS: BlogConstants.POSITIONS,
      createEditForm: {
        title: '',
        des: 'Similique minima maiores ipsa quod sint delectus aliquam',
        detail: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi, similique minima maiores ipsa quod sint',
        thumbs: 'https://i-vnexpress.vnecdn.net/2019/06/26/Toyota-RAV4-VNEXPRESS-1561541307_680x0.jpg',
        category: 2,
        position: [1],
        public: false,
        data_pubblic: new Date()
      },
      isSubmited: false
    }
  },

  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate(valid => {
        if (!valid) return false;
        this.isSubmited = true;

        if (!this.createEditForm.id) {
          callApi('blogs', 'POST', this.createEditForm)
            .then(res => {
              console.log(res.data);
              this.$router.push('/blogs');
            })
            .catch(err => console.log(err));
        } else {
          callApi(`blogs/${this.createEditForm.id}`, 'PUT', this.createEditForm)
            .then(res => {
              console.log(res.data);
              this.$router.push('/blogs');
            })
            .catch(err => console.log(err));
        }
      });
    },

    onReset(formName) {
      this.$refs[formName].resetFields();
    }
  },

  computed: {
    createEditRules() {
      return {
        title: [
          { required: true, message: 'Vui lòng nhập tiêu đề', trigger: 'blur' }
        ],
        des: [
          { required: true, message: 'Vui lòng nhập mô tả ngắn', trigger: 'blur' }
        ],
        detail: [
          { required: true, message: 'Vui lòng nhập chi tiết', trigger: 'blur' }
        ],
        thumbs: [
          { required: true, message: 'Vui lòng nhập địa chỉ hình ảnh', trigger: 'blur' }
        ],
        category: [
          { required: true, message: 'Vui lòng chọn loại bài viết', trigger: 'change' }
        ],
        position: [
          { required: true, message: 'Vui lòng chọn vị trí', trigger: 'change' }
        ],
        public: [
          { required: true, message: 'Vui lòng chọn chế độ Public', trigger: 'change' }
        ],
        data_pubblic: [
          { required: true, message: 'Vui lòng nhập ngày Public', trigger: 'change' }
        ]
      }
    }
  },

  watch: {
    blog(newVal, oldVal) {
      if (newVal) {
        this.createEditForm = newVal;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
