<template>
  <div class="box-search">
    <el-form label-width="120px" label-position="left" @submit.native.prevent="onSearch()">
      <el-form-item label="Tiêu đề">
        <el-col :span="12">
          <el-input v-model="titleKeyword"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-button type="success" size="medium" @click="onSearch()">Search</el-button>
        <el-button type="primary" size="medium" @click="onClear()">Clear</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>

export default {
  data() {
    return {
      titleKeyword: ''
    }
  },

  methods: {
    onSearch() {
      this.$emit('eventOnSearch', this.titleKeyword);
    },

    onClear() {
      this.$emit('eventOnClear', true);
      this.titleKeyword = '';
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
