<template>
  <div>
    <h3 class="mb-1">HOMEPAGE</h3>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: "Home",
      meta: [
        { name: "description", content: "This is my description." },
        { name: "keywords", content: "blogs, blogs, blogs" }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
</style>
