<template>
  <div class="blog-post panel">
    <p>BlogPost Component: {{ msg }}</p>
  </div>
</template>

<script>
export default {
  name: "BlogPost",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
