<template>
  <div class="panel">
    <p>NameInput Component</p>
    <input type="text" v-model="name" placeholder="Enter Name Please!"> &nbsp;
    <button @click="sendName()">Send Name To Parent</button>
  </div>
</template>

<script>
export default {
  name: "NameInput",
  data() {
    return {
      name: ''
    }
  },
  methods: {
    sendName() {
      this.$emit('nameSent', this.name);
      this.name = '';
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
